/*
Font weight values
100 - Thin
200 - ExtraLight
300 - Light
400 - Regular
500 - Medium
600 - SemiBold
700 - Bold
800 - ExtraBold
900 - Black
/*

/*
@font-face {
  font-family: 'Helvetica Neue';
  src: url('HelveticaNeue.woff2') format('woff2'),
  url('Helvetica Neue.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*/